.mainCase{
    border-bottom: 10px solid  #525252;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color:  black;
}


.bgPhoneImg{
    /* border: solid red; */
    height: 60vh;
    width: 35%;
    background-image: url(./image/mobile-1.jpg);
    background-repeat: no-repeat;
    background-size: 32rem;
    position: relative;
}


.miniContentCase{
    position: absolute;
    left: 0;
    top: 16rem;
    width: 70%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-inline: 5.5rem;
    background-color: #000000;
    border: 2px solid #475569;
    border-radius: 10px;
    height: 7rem;
}

#boxshoot{
    height: 6rem;
}

.contentHolder{
    /* border: solid purple; */
    height: 50vh;
    width: 50%;
    padding-left: 4rem;
    padding-block: 1.5rem;
}